#blue-print{
    background: #080c87; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #080c87 0%, #6066f2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #080c87 0%,#6066f2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #080c87 0%,#6066f2 100%); 
    padding: 170px 0;
    color: white;
}

#blue-print:after{
    content: "";
    display: table;
    clear: both;
}

#blue-print .left-side{
    width: 60%;
    float: left;
}

#blue-print .left-side img{
    width: 100%;
    
}


#blue-print .right-side{
    width: 40%;
    float: left;
}

#blue-print .right-side h1{
    font-size: 4rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 70px;
    line-height: 1.2;
}

#blue-print .right-side .info-box{
    padding: 0 0 100px;
}

#blue-print .right-side .info-box:after{
    content: "";
    display: table;
    clear: both;
}


#blue-print .right-side .info-box .col-1{
    width: 40%;
    float: left;
}

#blue-print .right-side .info-box .col-1 .icon-container{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 5px solid #FEA83B;
    position: relative;
}

#blue-print .right-side .info-box .col-1 .icon-container .dashed-circle{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px dashed white;
    margin: 0 auto;
    position: absolute;
    top: 10px;
    left: 10px;
} 

#blue-print .right-side .info-box .col-1 .icon-container .fab, 
#blue-print .right-side .info-box .col-1 .icon-container .fas{
    font-size: 4.5rem;
    position: absolute;
    top: 40px;
    left: 50px;
} 

#blue-print .right-side .info-box .col-2{
    width: 60%;
    float: left;
}

#blue-print .right-side .info-box .col-2 h3{
    font-size: 2rem;
    margin-top: 25px;
    margin-bottom: 30px;
}

#blue-print .right-side .info-box .col-2 p{
    font-size: 1rem;
    margin-bottom: 15px;
}

#blue-print .right-side .info-box .col-2 a{
    color: #FEA83B;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 1rem;
}












/*Laptop Devices*/
@media only screen and (max-width: 1215px){
    
}

/*Tablets Devices*/
@media only screen and (max-width: 1023px){
    #blue-print .left-side{
        width: 40%;
    }
    #blue-print .right-side{
        width: 60%;
    }
    #blue-print {
        padding: 100px 0;
    }
    
    #blue-print .right-side h1{
        font-size: 3rem;
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 70px;
        line-height: 1.2;
        text-align: left;
    }

    #blue-print .right-side .info-box .col-1 {
        width: 40%;
        float: left;
        text-align: center;
    }

    #blue-print .right-side .info-box .col-1 .icon-container {
        width: 120px;
        height: 120px;
        margin: 20px auto 0;
    }
    #blue-print .right-side .info-box .col-1 .icon-container .dashed-circle{
        width: 90px;
        height: 90px;
    }

    #blue-print .right-side .info-box .col-1 .icon-container .fab, 
    #blue-print .right-side .info-box .col-1 .icon-container .fas {
        font-size: 3rem;
        position: absolute;
        top: 30px;
        left: 40px;
    }
}

/*Mobile Devices*/
@media only screen and (max-width: 767px){
    #blue-print {
        padding: 100px 0;
    }
    #blue-print img{
        display: none;
    }
    #blue-print .left-side{
        width: 100%;
    }
    #blue-print .right-side{
        width: 100%;
    }
    #blue-print .right-side h1{
        font-size: 3rem;
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 70px;
        line-height: 1.2;
        text-align: center;
    }

    #blue-print .right-side .info-box .col-1 {
        width: 40%;
        float: left;
        text-align: center;
    }

    #blue-print .right-side .info-box .col-1 .icon-container {
        width: 120px;
        height: 120px;
        margin: 20px auto 0;
    }
    #blue-print .right-side .info-box .col-1 .icon-container .dashed-circle{
        width: 90px;
        height: 90px;
    }

    #blue-print .right-side .info-box .col-1 .icon-container .fab, 
    #blue-print .right-side .info-box .col-1 .icon-container .fas {
        font-size: 3rem;
        position: absolute;
        top: 30px;
        left: 40px;
    }
}





